[Desktop Entry]
Version=1.0
Terminal=false
Icon=/usr/share/icons/ms-office/Skype.png
Type=Application
Categories=Network;
Exec=webskype
Name=Microsoft Skype
GenericName=Skype
GenericName[en]=Skype
StartupNotify=true
